// ===== FONT GOOGLE =====
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap");

// ===== VARIABLE CSS CLASS =====
// header height
$header-height: 6rem;

// color palette
$black-color: #2c2c2c;
$grey-color: #444444;
$white-color: #ffffff;
$brown-color: #996830;

// font global
$font-title: "Playfair Display", serif;
$font-body: "Outfit", sans-serif;

// font weight
$font-light: 300;
$font-reguler: 400;
$font-medium: 500;
$font-semibold: 600;

// margin
$margin-0-5: 0.5rem;
$margin-1: 1rem;
$margin-1-5: 1.5rem;
$margin-2: 2rem;
$margin-2-5: 2.5rem;
$margin-3: 3rem;
$margin-3-5: 3.5rem;
$margin-4: 4rem;

// z-index
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;

// transition
$transition-400: 0.4s;

// line-height
$leading-title: 120%;
$leading-text: 180%;

// ===== RESET & BASE =====
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-body;
  font-weight: $font-reguler;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

input,
button {
  font-family: $font-body;
  font-weight: $font-semibold;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

// ===== REUSABLE CSS CLASS =====
.section {
  padding: 8rem 0 4rem;

  &-title {
    font-size: 48px;
    font-family: $font-title;
    font-weight: $font-medium;
    color: $black-color;
    line-height: $leading-title;
    margin-bottom: $margin-1;
  }

  &-text {
    font-size: 16px;
    color: $grey-color;
    line-height: $leading-text;
  }

  &-eyebrow {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 16px;
    font-weight: $font-semibold;
    text-transform: uppercase;
    color: $brown-color;
    letter-spacing: 2px;
    margin-bottom: $margin-1;

    span {
      width: 64px;
      height: 2px;
      background-color: $brown-color;
    }
  }

  &-italic {
    font-style: italic;
  }

  &-bottom {
    margin-bottom: $margin-2;
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 1rem 2.5em;
  background-color: $brown-color;
  font-weight: $font-semibold;
  text-transform: uppercase;
  color: $white-color;
}

.container {
  max-width: 1200px;
  width: calc(100% - 3rem);
  margin: 0 auto;
}

.main {
  overflow: hidden;
}

// ===== HEADER SECTION =====
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $white-color;
  z-index: $z-fixed;
  transition: $transition-400;

  // sticky header
  &.sticky-action {
    box-shadow: 0 4px 12px rgba($color: #2c2c2c, $alpha: 0.2);
  }

  &__container {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 85px;
  }

  &__menu {
    @media screen and (max-width: 767px) {
      position: fixed;
      width: 80%;
      top: 7rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      padding: 2rem;
      background-color: $brown-color;
      transition: $transition-400;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: top;
    }

    // show menu
    &.show-menu {
      opacity: 1;
      transform: scaleY(1);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__link {
    color: $white-color;

    &:hover {
      color: #dddddd;
    }
  }

  &__button {
    margin-top: 1.5rem;
    background-color: $white-color;
    color: $brown-color;
  }

  &__toggle {
    display: inline-flex;
    font-size: 1.5rem;
    cursor: pointer;
    color: $black-color;
  }
}

// ===== HOME SECTION =====
.home {
  padding-top: 8rem;

  &__wrapper {
    display: grid;
    gap: 5rem;
  }

  &__container {
    position: relative;
    text-align: center;
    justify-self: center;
  }

  &__button {
    position: absolute;
    bottom: -145px;
    left: 50%;
    transform: translateX(-50%);
    z-index: $z-normal;

    &-icon {
      width: 120px;
      height: auto;
    }
  }

  &__overlay {
    position: relative;
    height: 640px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 70%;
  }
}

// ===== AWARDS SECTION =====
.awards {
  padding: 3rem 0;
  background-color: $black-color;

  &__group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5rem 2rem;
  }

  &__content {
    display: inline-flex;
    flex-direction: column;
    gap: 0.5rem;

    &-icon {
      width: 80px;
    }

    &-text {
      font-size: 18px;
      color: rgba($color: #ffffff, $alpha: 0.7);
    }
  }
}

// ===== ABOUT SECTION =====
.about {
  &__container {
    display: grid;
    gap: 3rem;
  }

  &__data,
  &__img {
    justify-self: center;
  }
}

// ===== METRICS SECTION =====
.metrics {
  padding-bottom: 4rem;

  &__group {
    display: grid;
    justify-content: center;
    gap: 2rem;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 1rem;

    &-number {
      font-family: $font-title;
      font-size: 56px;
      font-weight: $font-medium;
      color: $black-color;
    }

    &-text {
      text-transform: uppercase;
      color: $grey-color;
    }
  }
}

// ===== SERVICES SECTION =====
.services {
  &__container {
    display: grid;
    gap: 2rem;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: 3rem;
  }

  &__content {
    display: grid;
    gap: 2rem;
    padding: 3rem 2rem;
    border: 1.5px solid rgba($color: #996830, $alpha: 0.3);

    &-icon {
      width: 65px;
    }

    &-title {
      font-family: $font-title;
      font-size: 32px;
      font-weight: $font-medium;
      color: $black-color;
      line-height: $leading-title;
      margin-bottom: $margin-1;
    }

    &-text {
      color: $grey-color;
      line-height: $leading-text;
    }
  }
}

// ===== WORKS SECTION =====
.works {
  &__container {
    display: grid;
    gap: 3rem;
  }

  &__title {
    margin-bottom: 0;
  }

  &__data {
    justify-self: center;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300, 1fr));
    justify-content: center;
    gap: 3rem;
  }

  &__content {
    display: grid;
    gap: 1.5rem;

    &-overlay {
      position: relative;
      overflow: hidden;
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &-title {
      font-family: $font-title;
      font-size: 32px;
      font-weight: $font-medium;
      color: $black-color;
      margin-bottom: $margin-1;
      line-height: $leading-title;
    }

    &-text {
      color: $grey-color;
      line-height: $leading-text;
    }
  }

  &__button {
    display: inline-flex;
    justify-self: flex-start;
  }
}

// ===== FOOTER SECTION =====
.footer {
  padding: 8rem 0 2rem;

  &__container {
    display: grid;
    gap: 6rem;
  }

  &__group {
    display: grid;
    justify-content: center;
    gap: 3rem;
  }

  &__data {
    &-button {
      font-family: $font-title;
      font-size: 32px;
      font-style: italic;
      color: $brown-color;
      text-decoration: underline;
    }
  }

  &__wrapper {
    display: grid;
    gap: 2rem;

    &-title {
      font-family: $font-title;
      font-size: 28px;
      font-weight: $font-semibold;
      color: $black-color;
      margin-bottom: $margin-0-5;
    }

    &-text {
      color: $grey-color;
      line-height: $leading-text;
    }

    &-contact {
      font-family: $font-title;
      font-size: 28px;
      font-size: $font-semibold;
      color: $brown-color;
      margin-top: $margin-0-5;
    }
  }

  &__copy {
    display: grid;
    gap: 2.5rem;
    padding-top: 2rem;
    border-top: 1.5px solid rgba($color: #2c2c2c, $alpha: 0.3);

    &-text {
      color: $grey-color;
      line-height: $leading-text;
    }

    &-developer {
      color: $brown-color;
    }

    &-data {
      display: grid;
    }

    &-sosmed {
      display: inline-flex;
      align-items: center;
      gap: 1rem;
    }

    &-icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 45px;
      padding: 0.5rem;
      border: 1.5px solid rgba($color: #2c2c2c, $alpha: 0.3);
      border-radius: 50%;
      font-size: 1.5rem;
      color: $brown-color;
      transition: $transition-400;

      &:hover {
        background-color: $brown-color;
        color: $white-color;
        border-color: $brown-color;
      }
    }
  }
}

// ===== SCROLLUP SECTION =====
.scrollup {
  position: fixed;
  right: 1.5rem;
  bottom: -100%;
  width: 45px;
  height: 45px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: $brown-color;
  font-size: 1.5rem;
  color: $white-color;
  transition: $transition-400;

  // scrollup action
  &.scrollup-action {
    bottom: 3rem;
  }
}
